@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Catalogo</h1>
    <form>
        <input type="text" title="O que esta procurando?" autocomplete="on" autofocus="autofocus" placeholder="O que esta procurando?" class="form-control" />
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
    </form>
</div>